.features {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.features > * {
  text-align: inhe;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-div {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;

  background-color: $secondary-background-color;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.item-title {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $second-title-color;
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $second-text-color;
}

.features-list > li:not(:last-child) {
  margin-bottom: 30px;
}
