.header {
  height: 60px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__brand-link {
  display: inline-block;

  padding-top: 16px;
  padding-bottom: 25px;

  color: #000000;
  text-decoration: none;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.brand-span-web {
  color: $brand-color;
}

.header__btn {
  background-color: transparent;
  border: transparent;
}

.header__menu-icon {
  display: inline-block;

  &:hover {
    fill: $accent-color;
  }
}

.header__nav-list {
  display: none;
}

.header__contacts {
  display: none;
}
