.gallery-list {
  display: block;
}

.gallery-list > .item {
  width: 100%;
}

.gallery-list > .item:not(:last-child) {
  margin-bottom: 30px;
}

.gallery-img {
  width: 100%;
}

.gallery-thumb {
  width: 100%;
}

.portfolio {
  padding-bottom: 60px;
}
