.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
}

.header-menu {
  display: flex;
  align-items: center;
}

.brand-link {
  display: inline-block;
}

.header__btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header__btn .icon-cross {
  opacity: 0;

  transition: opacity 250ms $cubic;
}

.header__btn.is-open .icon-cross {
  opacity: 1;
}

.header__btn .icon-menu {
  opacity: 1;

  transition: opacity 250ms $cubic;
}

.header__btn.is-open .icon-menu {
  opacity: 0;
}

.header__menu-icon {
  display: inline-block;
  margin-left: 183px;

  transition: fill 250ms $cubic;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.header__btn .icon-menu {
  opacity: 1;

  transition: opacity 250ms $cubic;
}

.header__btn.is-open .icon-menu {
  opacity: 0;
}

.header__btn .icon-cross {
  opacity: 0;

  transition: opacity 250ms $cubic;
}

.header__btn.is-open .icon-cross {
  opacity: 1;
}

.menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-height: 796px;
  z-index: 1;

  opacity: 0;
  background-color: #fff;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 48px;
  padding-right: 83px;

  pointer-events: none;

  transition: opacity 250ms $cubic;

  &.is-open {
    opacity: 1;
    pointer-events: painted;
  }
}

.menu__link {
  display: inline-block;
  margin-bottom: 32px;

  color: $primary-text-color;

  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  transition: color 250ms $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu__tel,
.menu__mail {
  display: inline-block;

  color: $second-text-color;

  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color 250ms $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu__tel {
  margin-top: 270px;
  margin-bottom: 32px;
  font-size: 34px;
}

.menu__social-media {
  display: flex;
}

.menu__social-media > .menu__social-item:not(:last-child) {
  margin-right: 20px;
}

.menu__social-link {
  color: $accent-color;

  text-decoration: nonef;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
