$header-color: #212121;
$primary-title-color: #ffffff;
$second-title-color: #212121;
$primary-text-color: #212121;
$second-text-color: #757575;
$third-text-color: #fff;
$footer-text-color: rgba(255, 255, 255, 0.6);
$brand-color: #2196f3;
$primary-background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$third-background-color: #2f303a;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$accent-color: #2196f3;
